.center-text-wrapper {
  padding: 0.25rem 0 0.22rem;
  border-radius: 0.84rem;
  filter: drop-shadow(0.042rem 0.042rem 0.031rem rgba(69, 66, 66, 0.25));
  background-color: rgb(248, 252, 252);
  background-image: url('https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/61f3ae885a7e3f0310e2d6a4/61f3aeaba4955900114d556d/16433599965820824096.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 3.75rem;
}
.page {
  background-color: rgb(248, 252, 252);
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.group {
  flex: 1 1 auto;
  overflow-x: hidden;
  position: relative;
}
.group_3 {
  margin: 0.53rem 0.5rem 0 1.25rem;
}
.section_1 {
  padding: 0.31rem 0.5rem 2.63rem;
  background-image: url('https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/61f3ae885a7e3f0310e2d6a4/61f3aeaba4955900114d556d/16433599956725327970.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.section_2 {
  padding: 0.25rem 0.13rem 0.22rem 0.16rem;
  color: rgb(37, 37, 37);
  font-size: 0.22rem;
  line-height: 0.19rem;
  white-space: nowrap;
  background-image: linear-gradient(91.7deg, rgb(119, 217, 252) 17.8%, rgb(163, 241, 228) 84.7%);
  border-radius: 0.84rem;
  box-shadow: 0.042rem 0.042rem 0.063rem rgba(69, 66, 66, 0.25);
  position: absolute;
  right: 0;
  bottom: 3.09rem;
}
.image_2 {
  width: 2.63rem;
  height: 2.31rem;
  position: absolute;
  right: 0.56rem;
  top: 3.88rem;
}
.group_4 {
  color: rgb(152, 153, 154);
  font-size: 0.25rem;
  line-height: 0.19rem;
  white-space: nowrap;
}
.group_5 {
  margin-top: 2.91rem;
  color: rgb(37, 37, 37);
  font-size: 0.22rem;
  line-height: 0.19rem;
  white-space: nowrap;
}
.group_1 {
  color: rgb(49, 52, 56);
  font-size: 0.5rem;
  font-weight: 600;
  line-height: 0.38rem;
  white-space: nowrap;
}
.group_2 {
  margin-top: 2.47rem;
  padding: 0 1.22rem;
  color: rgb(37, 37, 37);
  font-size: 0.22rem;
  line-height: 0.19rem;
  white-space: nowrap;
}
.image_3 {
  margin-left: 4.06rem;
  width: 0.5rem;
  height: 0.5rem;
}
.text_5 {
  margin: 0.16rem 0 0.19rem 0.13rem;
}
.image_4 {
  margin-left: 0.66rem;
  width: 2.44rem;
  height: 2.44rem;
}
.text-wrapper {
  margin-top: 1.13rem;
  padding: 0.25rem 0 0.22rem;
  background-image: linear-gradient(91.7deg, rgb(119, 217, 252) 17.8%, rgb(163, 241, 228) 84.7%);
  border-radius: 0.84rem;
  box-shadow: 0.042rem 0.042rem 0.063rem rgba(69, 66, 66, 0.25);
}
.image {
  width: 0.84rem;
  height: 0.84rem;
}
.text {
  margin: 0.22rem 0 0.25rem 0.16rem;
}
.image_1 {
  align-self: center;
  width: 2.69rem;
  height: 2.63rem;
}
.view {
  margin-top: 0.59rem;
  align-self: center;
}
.view_1 {
  margin-top: 0.47rem;
}
.text_6 {
  margin-left: 0.34rem;
  margin-right: 0.25rem;
}